:root {
    --main-bg-color: #1a1c20;
    --main-txt-color: #f4f4f4;
    --main-nav-color: #cf7500;
    --main-footer-color: #343a40;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 6vh;
}

li {
    background-color: var(--main-nav-color);
}

a {
    display: inline-block;
    padding: 8px 16px;
    color: var(--main-txt-color);
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--main-nav-color);
}

nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#ul_burger {
    display: none;
}

nav>ul>div {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

nav>ul>div>li {
    position: relative;
    text-align: center;
    align-self: center;
}

nav>ul>div>li>ul>li {
    width: 100%;
}

nav>ul>div>li>ul>li>a {
    color: var(--main-txt-color);
}

li>ul {
    display: none;
    position: absolute;
}

li:hover>ul {
    display: block;
}

nav>ul>div>li>a {
    text-decoration: none;
    color: var(--main-txt-color);
    text-transform: uppercase;
    font-size: 18px;
}

h1 {
    color: var(--main-txt-color);
    text-align: left;
    font-size: 2em;
    font-family: Arial, sans-serif;
    margin: 2em 0 2em 0.5em;
}

main {
    display: flex;
    flex-direction: row;
    height: auto;
}

#lateral_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 95vh;
}

#lateral_column>div {
    display: flex;
    height: 10em;
    width: 10em;
    justify-content: center;
    background-color: var(--main-txt-color);
    border-radius: 100%;
}

#first_illustration {
    background-image: url("images/tornade.jpg");
    background-size: cover;
}

#second_illustration {
    background-image: url("images/waves.jpg");
    background-size: cover;
    background-position: center;
}

#third_illustration {
    background-image: url("images/eruption.jpg");
    background-size: cover;
    background-position: center;
}

#main_articles {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-right: 2em;
}

#main_articles>section {
    height: 33%;
}

#main_articles>section>article {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: var(--main-txt-color);
}

#main_articles>section>article>h2 {
    margin-bottom: 1.5em;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
}

#main_articles>section>article>p {
    font-family: Helvetica, sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--main-footer-color);
}

footer>div {
    display: flex;
    height: 3em;
    align-items: center;
    border-bottom: 1px solid var(--main-bg-color);
}

#follow_us {
    justify-content: flex-end;
}

#follow_us>a {
    color: var(--main-txt-color);
    font-size: 1.5em;
}

#follow_us>a:hover {
    color: var(--main-nav-color);
    font-size: 1.5em;
}

#project_advancement {
    justify-content: center;
    text-decoration: none;
    color: var(--main-txt-color);
}

#project_advancement>a {
    color: var(--main-txt-color);
}

#project_advancement>a:hover {
    color: var(--main-nav-color);
}

#copyright {
    justify-content: flex-start;
    color: var(--main-txt-color);
    margin-left: 1em;
}

@media only screen and (max-width: 1023px) {
    #desktop_nav {
        display: none;
    }
    #ul_burger {
        display: flex;
    }
    nav>#ul_burger>li {
        position: relative;
    }
    nav>ul>li>ul>li>a {
        width: 100%;
        color: var(--main-txt-color);
    }
    nav>#ul_burger>li>#burger_menu {
        display: none;
        position: absolute;
    }
    nav>#ul_burger>li:hover>#burger_menu {
        display: block;
    }
    nav>#ul_burger>li>#burger_menu>li {
        position: relative;
        width: 100%;
    }
    nav>#ul_burger>li>#burger_menu>li>ul {
        position: absolute;
        top: 0;
        left: 100%;
    }
    nav>#ul_burger>li>#burger_menu>li>ul>li {
        width: 100%;
    }
    nav>ul>div>li>a {
        text-decoration: none;
        color: var(--main-txt-color);
        text-transform: uppercase;
        font-size: 18px;
    }
    main {
        display: grid;
        height: auto;
        align-self: center;
        gap: 4em;
    }
    h1 {
        font-size: 2em;
        margin: 1em 0 1em 0.5em;
    }
    #lateral_column {
        display: grid;
        grid-row: end;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
    #lateral_column>#first_illustration {
        width: 7em;
        height: 7em;
    }
    #lateral_column>#second_illustration {
        width: 7em;
        height: 7em;
    }
    #lateral_column>#third_illustration {
        width: 7em;
        height: 7em;
    }
    #main_articles {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #main_articles>section {
        display: grid;
        height: 100%;
        margin: 0 1em 0 1em;
    }
    #main_articles>section>article {
        display: grid;
        justify-content: start;
        grid-template-rows: 80px 1fr;
    }
    #main_articles>section>article>h2 {
        font-size: 1.5em;
        text-align: center;
        margin: auto;
    }
    #main_articles>section>article>p {
        text-align: left;
        font-size: 1em;
    }
    footer {
        position: absolute;
        width: 100%;
        margin-top: 3em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 450px) {
    nav {
        max-width: 100%;
    }
    main {
        display: grid;
        height: auto;
        align-self: center;
        gap: 4em;
    }
    main>#main_articles {
        display: grid;
        width: 100%;
    }
    main>#main_articles>section {
        display: grid;
        height: 100%;
        margin: 0 1em 0 1em;
        grid-column: span 3;
    }
}